@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-mono;
  }
  #parallax {
    background-image: url("/albums.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
}
